.menu{
    display: flex;
    list-style-type: none;
    background-color: aqua;
   
   
}
.menu li{
    margin: 0 2%;
    padding: 1%;
}
.menu li.active{
    background-color: red;
    padding: 1%;
}
.menu li a{
    font-size: 20px;
    color: #000;
}